PROJECT_NAME=project-name

NETWORK=project-network

VPN_IPSEC_PSK=hTY5195kL4bgXOsurmpw60kwH1pr1dyD
VPN_USER=project-vpn
VPN_PASSWORD=0CzddT2gW5rmwMGmUrpTtA==

XUI_PANEL_PORT=19017
XUI_INTERNAL_PORT=2053
XUI_WEB_BASE_PATH=/
XUI_ENABLE_FAIL2BAN=true
XUI_DATA_VOLUME=./x-ui-data
XUI_CERT_VOLUME=./x-ui-cert
XUI_ACME_VOLUME=./x-ui-acme
XRAY_REALITY_PORT=9443
