PROJECT_NAME=project-name

NETWORK=project-network

VPN_IPSEC_PSK=hTY5195kL4bgXOsurmpw60kwH1pr1dyD
VPN_USER=project-vpn
VPN_PASSWORD=0CzddT2gW5rmwMGmUrpTtA==

OPENVPN_ADMIN_PORT=19017
OPENVPN_HOST=
OPENVPN_TCP_PORT=9443
OPENVPN_UDP_PORT=1194
OPENVPN_USER=project-openvpn
OPENVPN_PASSWORD=change-me
OPENVPN_VOLUME=./openvpn-data
