PROJECT_NAME=project-name

NETWORK=project-network

VOLUME=project-volume

AUTH_PATH=auth/htpasswd

REGISTRY_USER=admin
REGISTRY_PASSWORD=change-me
REGISTRY_AUTH_REALM=Project Realm
REGISTRY_STORAGE_DELETE_ENABLED=true

A_REGISTRY_TITLE=Project Private Registry
A_REGISTRY_AUTH=true
A_REGISTRY_DELETE_IMAGES=true
