PROJECT_NAME=project-name

NETWORK=project-network

VOLUME=./project-volume

REGISTRY_PORT=19015
REGISTRY_UID=1000
REGISTRY_GID=1000

REGISTRY_USER=admin
REGISTRY_PASSWORD=change-me

REGISTRY_AUTH_REALM=Project Realm

REGISTRY_STORAGE_DELETE_ENABLED=true
