listen: :REPLACE_WITH_PORT

tls:
  cert: REPLACE_WITH_CERT_PATH
  key: REPLACE_WITH_KEY_PATH

auth:
  type: password
  password: REPLACE_WITH_PASSWORD

obfs:
  type: salamander
  salamander:
    password: REPLACE_WITH_OBFS_PASSWORD

masquerade:
  type: proxy
  proxy:
    url: REPLACE_WITH_MASQUERADE_URL
    rewriteHost: true
