PROJECT_NAME=project-name

NETWORK=project-network

TIMEZONE=Asia/Krasnoyarsk

DEFAULT_BACKUP_LOCATION=FILESYSTEM
DEFAULT_FILESYSTEM_PATH=/backup
DEFAULT_BACKUP_INTERVAL=1440
DEFAULT_BACKUP_BEGIN=0300
DEFAULT_CLEANUP_TIME=43200
DEFAULT_COMPRESSION=GZ

DB01_SPLIT_DB=TRUE
DB01_MYSQL_SINGLE_TRANSACTION=TRUE
DB01_TYPE=mysql
DB01_HOST=mariadb-container
DB01_PORT=3306
DB01_NAME=ALL
DB01_USER=root
DB01_PASS=secret
