PROJECT_NAME=project-name

NETWORK=project-network

VOLUME=postgres-data

POSTGRES_PORT=19013
PGADMIN_PORT=19014

POSTGRES_VERSION=18

POSTGRES_DB=glitchtip
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=secret
